@media screen and (min-width: $layout-desktop) {
    

    .logo {
        position: absolute;
        width: 439px;
        height: 133px;
        left: 47px;
        top: 294px;
    }


    .vh-100 {
        height:100vh;
    }

}