$color-background: #F0F0F7;
$color-primary-lighter: #9871F5;
$color-primary-light: #916BEA;
$color-primary: #000000;
$color-red: #ff0000;
$color-primary-dark: #774DD6;
$color-primary-darker: #6842C2;
$color-secundary: #04D361;
$color-secundary-dark: #04BF58;
$color-secundary-dark-button: #026830;
$color-title-in-primary: #FFFFFF;
$color-text-in-primary: #D4C2FF;
$color-text-title: #32264D;
$color-text-complement: #9C98A6;
$color-text-base: #6A6180;
$color-line-in-white: #E6E6F0;
$color-input-background: #F8F8FC;
$color-button-text: #FFFFFF;
$color-box-base: #FFFFFF;
$color-box-footer: #FAFAFC; 
$layout-mobile: 320px;
$layout-desktop: 800px;
$layout-desktop-large: 1280px;
$inative-icon: #b6c1c9;
$white: white;
@import 'root';





pre {
    display: none !important;
}

body {
    background-color: #E5E5E5;
    font: Poppins 600 normal;
    color:$color-text-complement;
}

#remember-me {
    color: $color-secundary;
}

.bg-dark {
    background-color: $color-primary !important;
}

.vh {
    height:50vh !important;
}


.comum_txt {
    color:$color-text-complement;

}

.banner, .logo {
    height: 50vh;
    
    h2 {
        color:#fff;
        font-size: 1.2rem;
    }
}

.banner {
    padding-top: 1.6rem;
}

.logo {
    padding-top: 6.6rem;
}

.h-80{
    margin: 3rem 0 0 0;

}

.fa-user-circle{
    padding: 0.2rem 0.4rem;

}


.user {
    padding-top: 0.4rem;
    color:$inative-icon !important;
}

.buttons {
    height: 50vh;
    padding: 1.6rem;
}

.submit {
    background-color: $color-secundary !important;
    color:$white;
    height: 4rem;
}

.main_button {
    padding: 1.8rem;
    width: 7rem;
}

.btn-prof {
    background-color: #8257E5;
    color: #fff;
    font: 500 1.4rem Poppins;

    &:hover {
        background-color: $color-text-title;
    }
}

.btn-serv {
    background-color: #04D361;
    color: #fff;
    font: 500 1.4rem Poppins;

    &:hover {
        background-color: $color-secundary-dark-button;
    }
}

.user{
    color: $white;

}

.-padding {
    padding: 0;
}

.text-info {
    color:$color-text-title !important;
}


#login   { 
    .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;

        #login-form {
           

            h3 {
                font-size: 2.8rem !important;
            }

    
        }

    }
}

.box {
    max-width: 28rem !important;

}

.cadastro {
    margin-top:-5rem!important;
}

.esqueci-box {
    top:6rem;
}

.button_white button{
        color: $color-background !important;

        &:hover{
            color: $color-background !important;
        }
}

#cadastro-desktop{
    display: none;
}


.uploadfotos {
    color: transparent;
  }
  .uploadfotos::-webkit-file-upload-button {
    visibility: hidden;
  }
  .uploadfotos::before {
    content: 'Envie sua foto';
    height: 4rem;
    background: #04D361;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 4.5rem;
    width: 26rem;
  }

  

  .uploadfotosServico::before{
      width: 25rem;
  }

  .uploadfotos:hover::before {
    border-color: white;
  }
  .uploadfotos:active {
    outline: 0;
  }
  .uploadfotos:active::before {
    background: $inative-icon; 
  }

  #visualizar{
    padding-left: 2rem;
}
  

.card-date {
    width: 100%;
    border-radius: 1.5rem;
    height: 100%;
    
}

.row-cards {
    margin-left: 1rem;
    margin-right: 1rem;
} 

.col-card {
    padding: 0 !important;
    max-width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-body .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 3.5rem;
}

#preview {
    margin-top: 2.5rem;
    height:7rem; 
    width: 7rem; 
    border-radius: 2rem;
}

#preview-edit {
    margin-top: 0;
    height:12rem; 
    width: 12rem; 
    border-radius: 6rem;
    background-color: #525252;

}

.row-img {
    height: 9rem;
}

#header-form {
    height: 4rem;
}

#page-landing .user-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    
    
}
.uploadfotos-edit{
    width:100% !important;
}

.uploadfotos-edit::before {
    font-family: FontAwesome;
    content:  "alterar";
    height: 4rem;
    background: #04D361;
    color: #FFFFFF;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: -20rem;
    margin-left: 18rem;
    width: 6rem;
  }

  .releases {
      height: 10rem;
      width: 10rem;
      border-radius: 3rem;
      margin: 0 1px 0 1px;
  }

  .releaseModal {

    width: 100%;
    height: 100%;
    border-radius: 3rem;
}



    .estrelas input[type=radio]{
        display: none;
    }.estrelas label i.fa:before{
        content: '\f005';
        color: #FC0;
    }.estrelas  input[type=radio]:checked  ~ label i.fa:before{
        color: #CCC;
    }

    #modal-finalizar {
    padding: 3rem !important;
    border-radius: 2rem !important;
}

.goback{
    background-color: $color-primary-light !important;
}

.img-finalizar{
    width: 5rem;
    border-radius: 20rem;
    background-color: $color-text-complement;
    height: 5rem;
}

.img-finalizar-box{
    max-width: 6rem !important;
}


.option-cpf{
    height: 4rem !important;
   
    border-radius: 0.8rem !important;
    background: #F8F8FC !important;
    border: 1px solid #E6E6F0 !important;
    width: 9rem;
}


.biotextarea{
border-radius: 0.8rem !important;
background: #F8F8FC !important;
border: 1px solid #E6E6F0 !important;
padding: 0 1.6rem !important;
font: 1.6rem Archivo !important;
width: 100%;
}

.btn-excluir{
    background-color: $color-red !important;
    height: 5.6rem;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin: 1rem;
    padding: 3px;
}

.btn-editar{
     height: 5.6rem;
    background: #04D361;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin: 1rem;
    padding: 3px;
}

@import 'style-proffisionais';
@import 'styles-mobile';
@import 'styles-mobile-min700';
@import 'styles-desktop';
@import 'styles-desktop-min1024';
@import 'styles-desktop-large';

